.elementor-1273 .elementor-element.elementor-element-41fb045 > .elementor-container{min-height:400px;}.elementor-1273 .elementor-element.elementor-element-41fb045{margin-top:-10px;margin-bottom:0px;}.elementor-1273 .elementor-element.elementor-element-6e0bdc1{margin-top:-350px;margin-bottom:0px;}.elementor-1273 .elementor-element.elementor-element-344fea6{text-align:center;}.elementor-1273 .elementor-element.elementor-element-344fea6.elementor-widget-heading .elementor-heading-title{color:#ffffff;}.elementor-1273 .elementor-element.elementor-element-344fea6 .elementor-heading-title{font-family:"Quicksand", Sans-serif;font-size:55px;font-weight:500;}.elementor-1273 .elementor-element.elementor-element-344fea6 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1273 .elementor-element.elementor-element-a4ca773{background-color:rgba(110,193,228,0.18);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:265px;margin-bottom:0px;padding:0100px 0px 100px 0px;}.elementor-1273 .elementor-element.elementor-element-a4ca773 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1273 .elementor-element.elementor-element-757c8f1 .elementor-flip-box__front{background-size:cover;}.elementor-1273 .elementor-element.elementor-element-757c8f1 .elementor-flip-box__back{background-size:cover;}.elementor-1273 .elementor-element.elementor-element-757c8f1 .elementor-flip-box__front .elementor-flip-box__layer__overlay{text-align:center;}.elementor-1273 .elementor-element.elementor-element-757c8f1 .elementor-icon i{transform:rotate(0deg);}.elementor-1273 .elementor-element.elementor-element-757c8f1 .elementor-flip-box__front .elementor-flip-box__layer__title{color:rgba(0,0,0,0.7);font-family:"Quicksand", Sans-serif;font-weight:500;}.elementor-1273 .elementor-element.elementor-element-757c8f1 .elementor-flip-box__back .elementor-flip-box__layer__overlay{text-align:center;}.elementor-1273 .elementor-element.elementor-element-757c8f1 .elementor-flip-box__button{margin-center:0;font-family:"Quicksand", Sans-serif;font-size:15px;color:#000000;background-color:rgba(255,255,255,0.6);}.elementor-1273 .elementor-element.elementor-element-b306b5c .elementor-flip-box__front{background-size:cover;}.elementor-1273 .elementor-element.elementor-element-b306b5c .elementor-flip-box__back{background-size:cover;}.elementor-1273 .elementor-element.elementor-element-b306b5c .elementor-flip-box__front .elementor-flip-box__layer__overlay{text-align:center;}.elementor-1273 .elementor-element.elementor-element-b306b5c .elementor-icon i{transform:rotate(0deg);}.elementor-1273 .elementor-element.elementor-element-b306b5c .elementor-flip-box__front .elementor-flip-box__layer__title{color:rgba(0,0,0,0.7);font-family:"Quicksand", Sans-serif;font-weight:500;}.elementor-1273 .elementor-element.elementor-element-b306b5c .elementor-flip-box__back .elementor-flip-box__layer__overlay{text-align:center;}.elementor-1273 .elementor-element.elementor-element-b306b5c .elementor-flip-box__button{margin-center:0;font-family:"Quicksand", Sans-serif;font-size:15px;color:#000000;background-color:rgba(255,255,255,0.6);}.elementor-1273 .elementor-element.elementor-element-749f924 .elementor-flip-box__front{background-size:cover;}.elementor-1273 .elementor-element.elementor-element-749f924 .elementor-flip-box__back{background-size:cover;}.elementor-1273 .elementor-element.elementor-element-749f924 .elementor-flip-box__front .elementor-flip-box__layer__overlay{text-align:center;}.elementor-1273 .elementor-element.elementor-element-749f924 .elementor-icon i{transform:rotate(0deg);}.elementor-1273 .elementor-element.elementor-element-749f924 .elementor-flip-box__front .elementor-flip-box__layer__title{color:rgba(0,0,0,0.7);font-family:"Quicksand", Sans-serif;font-weight:500;}.elementor-1273 .elementor-element.elementor-element-749f924 .elementor-flip-box__back .elementor-flip-box__layer__overlay{text-align:center;}.elementor-1273 .elementor-element.elementor-element-749f924 .elementor-flip-box__button{margin-center:0;font-family:"Quicksand", Sans-serif;font-size:15px;color:#000000;background-color:rgba(255,255,255,0.6);}.elementor-1273 .elementor-element.elementor-element-c4af1e7 .elementor-flip-box__front{background-size:cover;}.elementor-1273 .elementor-element.elementor-element-c4af1e7 .elementor-flip-box__back{background-size:cover;}.elementor-1273 .elementor-element.elementor-element-c4af1e7 .elementor-flip-box__front .elementor-flip-box__layer__overlay{text-align:center;}.elementor-1273 .elementor-element.elementor-element-c4af1e7 .elementor-icon i{transform:rotate(0deg);}.elementor-1273 .elementor-element.elementor-element-c4af1e7 .elementor-flip-box__front .elementor-flip-box__layer__title{color:rgba(0,0,0,0.7);font-family:"Quicksand", Sans-serif;font-weight:500;}.elementor-1273 .elementor-element.elementor-element-c4af1e7 .elementor-flip-box__front .elementor-flip-box__layer__description{color:#e80000;font-family:"Quicksand", Sans-serif;font-size:14px;font-weight:500;}.elementor-1273 .elementor-element.elementor-element-c4af1e7 .elementor-flip-box__back .elementor-flip-box__layer__overlay{text-align:center;}.elementor-1273 .elementor-element.elementor-element-c4af1e7 .elementor-flip-box__button{margin-center:0;font-family:"Quicksand", Sans-serif;font-size:15px;color:#000000;background-color:rgba(255,255,255,0.6);}.elementor-1273 .elementor-element.elementor-element-c4af1e7 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1273 .elementor-element.elementor-element-41c74a4 .elementor-flip-box__front{background-size:cover;}.elementor-1273 .elementor-element.elementor-element-41c74a4 .elementor-flip-box__back{background-size:cover;}.elementor-1273 .elementor-element.elementor-element-41c74a4 .elementor-flip-box__front .elementor-flip-box__layer__overlay{text-align:center;}.elementor-1273 .elementor-element.elementor-element-41c74a4 .elementor-icon i{transform:rotate(0deg);}.elementor-1273 .elementor-element.elementor-element-41c74a4 .elementor-flip-box__front .elementor-flip-box__layer__title{color:rgba(0,0,0,0.7);font-family:"Quicksand", Sans-serif;font-weight:500;}.elementor-1273 .elementor-element.elementor-element-41c74a4 .elementor-flip-box__back .elementor-flip-box__layer__overlay{text-align:center;}.elementor-1273 .elementor-element.elementor-element-41c74a4 .elementor-flip-box__button{margin-center:0;font-family:"Quicksand", Sans-serif;font-size:15px;color:#000000;background-color:rgba(255,255,255,0.6);}.elementor-1273 .elementor-element.elementor-element-a01b204 .elementor-flip-box__front{background-size:cover;}.elementor-1273 .elementor-element.elementor-element-a01b204 .elementor-flip-box__back{background-size:cover;}.elementor-1273 .elementor-element.elementor-element-a01b204 .elementor-flip-box__front .elementor-flip-box__layer__overlay{text-align:center;}.elementor-1273 .elementor-element.elementor-element-a01b204 .elementor-icon i{transform:rotate(0deg);}.elementor-1273 .elementor-element.elementor-element-a01b204 .elementor-flip-box__front .elementor-flip-box__layer__title{color:rgba(0,0,0,0.7);font-family:"Quicksand", Sans-serif;font-weight:500;}.elementor-1273 .elementor-element.elementor-element-a01b204 .elementor-flip-box__back .elementor-flip-box__layer__overlay{text-align:center;}.elementor-1273 .elementor-element.elementor-element-a01b204 .elementor-flip-box__button{margin-center:0;font-family:"Quicksand", Sans-serif;font-size:15px;color:#000000;background-color:rgba(255,255,255,0.6);}.elementor-1273 .elementor-element.elementor-element-6beb9e2 .elementor-flip-box__front{background-position:center center;background-size:cover;}.elementor-1273 .elementor-element.elementor-element-6beb9e2 .elementor-flip-box__back{background-size:cover;}.elementor-1273 .elementor-element.elementor-element-6beb9e2 .elementor-flip-box__back .elementor-flip-box__layer__overlay{background-color:rgba(41,66,178,0.57);text-align:center;}.elementor-1273 .elementor-element.elementor-element-6beb9e2 .elementor-flip-box__front .elementor-flip-box__layer__overlay{text-align:center;}.elementor-1273 .elementor-element.elementor-element-6beb9e2 .elementor-icon i{transform:rotate(0deg);}.elementor-1273 .elementor-element.elementor-element-6beb9e2 .elementor-flip-box__front .elementor-flip-box__layer__title{color:rgba(0,0,0,0.7);font-family:"Quicksand", Sans-serif;font-weight:500;}.elementor-1273 .elementor-element.elementor-element-6beb9e2 .elementor-flip-box__front .elementor-flip-box__layer__description{color:#e80000;font-family:"Quicksand", Sans-serif;font-size:14px;font-weight:500;}.elementor-1273 .elementor-element.elementor-element-6beb9e2 .elementor-flip-box__button{margin-center:0;font-family:"Quicksand", Sans-serif;font-size:15px;color:#000000;background-color:rgba(255,255,255,0.6);}.elementor-1273 .elementor-element.elementor-element-6beb9e2 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1273 .elementor-element.elementor-element-d579386 .elementor-flip-box__front{background-position:center center;background-size:cover;}.elementor-1273 .elementor-element.elementor-element-d579386 .elementor-flip-box__back{background-size:cover;}.elementor-1273 .elementor-element.elementor-element-d579386 .elementor-flip-box__back .elementor-flip-box__layer__overlay{background-color:rgba(41,66,178,0.57);text-align:center;}.elementor-1273 .elementor-element.elementor-element-d579386 .elementor-flip-box__front .elementor-flip-box__layer__overlay{text-align:center;}.elementor-1273 .elementor-element.elementor-element-d579386 .elementor-icon i{transform:rotate(0deg);}.elementor-1273 .elementor-element.elementor-element-d579386 .elementor-flip-box__front .elementor-flip-box__layer__title{color:rgba(0,0,0,0.7);font-family:"Quicksand", Sans-serif;font-weight:500;}.elementor-1273 .elementor-element.elementor-element-d579386 .elementor-flip-box__front .elementor-flip-box__layer__description{color:#e80000;font-family:"Quicksand", Sans-serif;font-size:14px;font-weight:500;}.elementor-1273 .elementor-element.elementor-element-d579386 .elementor-flip-box__button{margin-center:0;font-family:"Quicksand", Sans-serif;font-size:15px;color:#000000;background-color:rgba(255,255,255,0.6);}.elementor-1273 .elementor-element.elementor-element-48d60d5 .elementor-flip-box__front{background-size:cover;}.elementor-1273 .elementor-element.elementor-element-48d60d5 .elementor-flip-box__back{background-size:cover;}.elementor-1273 .elementor-element.elementor-element-48d60d5 .elementor-flip-box__front .elementor-flip-box__layer__overlay{text-align:center;}.elementor-1273 .elementor-element.elementor-element-48d60d5 .elementor-icon i{transform:rotate(0deg);}.elementor-1273 .elementor-element.elementor-element-48d60d5 .elementor-flip-box__front .elementor-flip-box__layer__title{color:rgba(0,0,0,0.7);font-family:"Quicksand", Sans-serif;font-weight:500;}.elementor-1273 .elementor-element.elementor-element-48d60d5 .elementor-flip-box__back .elementor-flip-box__layer__overlay{text-align:center;}.elementor-1273 .elementor-element.elementor-element-48d60d5 .elementor-flip-box__button{margin-center:0;font-family:"Quicksand", Sans-serif;font-size:15px;color:#000000;background-color:rgba(255,255,255,0.6);}.elementor-1273 .elementor-element.elementor-element-832394a .elementor-flip-box__front{background-size:cover;}.elementor-1273 .elementor-element.elementor-element-832394a .elementor-flip-box__back{background-size:cover;}.elementor-1273 .elementor-element.elementor-element-832394a .elementor-flip-box__front .elementor-flip-box__layer__overlay{text-align:center;}.elementor-1273 .elementor-element.elementor-element-832394a .elementor-icon i{transform:rotate(0deg);}.elementor-1273 .elementor-element.elementor-element-832394a .elementor-flip-box__front .elementor-flip-box__layer__title{color:rgba(0,0,0,0.7);font-family:"Quicksand", Sans-serif;font-weight:500;}.elementor-1273 .elementor-element.elementor-element-832394a .elementor-flip-box__back .elementor-flip-box__layer__overlay{text-align:center;}.elementor-1273 .elementor-element.elementor-element-832394a .elementor-flip-box__button{margin-center:0;font-family:"Quicksand", Sans-serif;font-size:15px;color:#000000;background-color:rgba(255,255,255,0.6);}.elementor-1273 .elementor-element.elementor-element-36b60ba .elementor-flip-box__front{background-size:cover;}.elementor-1273 .elementor-element.elementor-element-36b60ba .elementor-flip-box__back{background-size:cover;}.elementor-1273 .elementor-element.elementor-element-36b60ba .elementor-flip-box__front .elementor-flip-box__layer__overlay{text-align:center;}.elementor-1273 .elementor-element.elementor-element-36b60ba .elementor-icon i{transform:rotate(0deg);}.elementor-1273 .elementor-element.elementor-element-36b60ba .elementor-flip-box__front .elementor-flip-box__layer__title{color:rgba(0,0,0,0.7);font-family:"Quicksand", Sans-serif;font-weight:500;}.elementor-1273 .elementor-element.elementor-element-36b60ba .elementor-flip-box__front .elementor-flip-box__layer__description{color:#e80000;font-family:"Quicksand", Sans-serif;font-size:14px;font-weight:500;}.elementor-1273 .elementor-element.elementor-element-36b60ba .elementor-flip-box__back .elementor-flip-box__layer__overlay{text-align:center;}.elementor-1273 .elementor-element.elementor-element-36b60ba .elementor-flip-box__button{margin-center:0;font-family:"Quicksand", Sans-serif;font-size:15px;color:#000000;background-color:rgba(255,255,255,0.6);}.elementor-1273 .elementor-element.elementor-element-1e139ba .elementor-flip-box__front{background-position:center center;background-size:cover;}.elementor-1273 .elementor-element.elementor-element-1e139ba .elementor-flip-box__back{background-size:cover;}.elementor-1273 .elementor-element.elementor-element-1e139ba .elementor-flip-box__back .elementor-flip-box__layer__overlay{background-color:rgba(41,66,178,0.57);text-align:center;}.elementor-1273 .elementor-element.elementor-element-1e139ba .elementor-flip-box__front .elementor-flip-box__layer__overlay{text-align:center;}.elementor-1273 .elementor-element.elementor-element-1e139ba .elementor-icon i{transform:rotate(0deg);}.elementor-1273 .elementor-element.elementor-element-1e139ba .elementor-flip-box__front .elementor-flip-box__layer__title{color:rgba(0,0,0,0.7);font-family:"Quicksand", Sans-serif;font-weight:500;}.elementor-1273 .elementor-element.elementor-element-1e139ba .elementor-flip-box__button{margin-center:0;font-family:"Quicksand", Sans-serif;font-size:15px;color:#000000;background-color:rgba(255,255,255,0.6);}.elementor-1273 .elementor-element.elementor-element-1e139ba > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1273 .elementor-element.elementor-element-1c7bf5d > .elementor-widget-container{padding:20px 20px 20px 20px;}@media(max-width:1024px){.elementor-1273 .elementor-element.elementor-element-41fb045{margin-top:-20px;margin-bottom:0px;}.elementor-1273 .elementor-element.elementor-element-a4ca773{margin-top:218px;margin-bottom:0px;}}@media(max-width:767px){.elementor-1273 .elementor-element.elementor-element-41fb045{margin-top:-75px;margin-bottom:0px;}.elementor-1273 .elementor-element.elementor-element-37de04b > .elementor-element-populated{margin:4px 4px 4px 4px;}.elementor-1273 .elementor-element.elementor-element-6e0bdc1{margin-top:-219px;margin-bottom:10px;}.elementor-1273 .elementor-element.elementor-element-344fea6 .elementor-heading-title{font-size:20px;}.elementor-1273 .elementor-element.elementor-element-344fea6 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1273 .elementor-element.elementor-element-a4ca773{margin-top:130px;margin-bottom:0px;}}@media(min-width:768px){.elementor-1273 .elementor-element.elementor-element-0f458e7{width:34.018%;}.elementor-1273 .elementor-element.elementor-element-c0b3364{width:32.646%;}}/* Start custom CSS for flip-box, class: .elementor-element-757c8f1 */.elementor-flip-box{
    width: 330px;
    heihgt:330px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .elementor-flip-box{
    width: 100%;
    heihgt:250px;
}

  
}/* End custom CSS */
/* Start custom CSS for flip-box, class: .elementor-element-b306b5c */.elementor-flip-box{
    width: 330px;
    heihgt:330px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .elementor-flip-box{
    width: 100%;
    heihgt:330px;
  }
}/* End custom CSS */
/* Start custom CSS for flip-box, class: .elementor-element-749f924 */.elementor-flip-box{
    width: 330px;
    heihgt:330px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .elementor-flip-box{
    width: 100%;
    heihgt:250px;
}

  
}/* End custom CSS */
/* Start custom CSS for flip-box, class: .elementor-element-c4af1e7 */.elementor-flip-box{
    width: 330px;
    heihgt:330px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  
 .elementor-flip-box{
    width: 100%;
    heihgt:250px;
  
}

}/* End custom CSS */
/* Start custom CSS for flip-box, class: .elementor-element-41c74a4 */.elementor-flip-box{
    width: 330px;
    heihgt:330px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  
 .elementor-flip-box{
    width: 100%;
    heihgt:250px;
  
}

}/* End custom CSS */
/* Start custom CSS for flip-box, class: .elementor-element-a01b204 */.elementor-flip-box{
    width: 330px;
    heihgt:330px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  
 .elementor-flip-box{
    width: 100%;
    heihgt:250px;
  
}

}/* End custom CSS */
/* Start custom CSS for flip-box, class: .elementor-element-6beb9e2 */.elementor-flip-box{
    width: 330px;
    heihgt:330px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .elementor-flip-box{
    width: 100%;
    heihgt:250px;
}

  
}/* End custom CSS */
/* Start custom CSS for flip-box, class: .elementor-element-d579386 */.elementor-flip-box{
    width: 330px;
    heihgt:330px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .elementor-flip-box{
    width: 100%;
    heihgt:250px;
}

  
}/* End custom CSS */
/* Start custom CSS for flip-box, class: .elementor-element-48d60d5 */.elementor-flip-box{
    width: 330px;
    heihgt:330px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  
 .elementor-flip-box{
    width: 100%;
    heihgt:250px;
  
}

}/* End custom CSS */
/* Start custom CSS for flip-box, class: .elementor-element-832394a */.elementor-flip-box{
    width: 330px;
    heihgt:330px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .elementor-flip-box{
    width: 100%;
    heihgt:250px;
}
  
}


@media all and (max-width: 512px) and (min-width: 320px) {
    
    
    .elementor-flip-box{
        margin-left:-10px;
        width:300px;
    }
 
}/* End custom CSS */
/* Start custom CSS for flip-box, class: .elementor-element-36b60ba */.elementor-flip-box{
    width: 330px;
    heihgt:330px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .elementor-flip-box{
    width: 100%;
    heihgt:330px;
  }
}/* End custom CSS */
/* Start custom CSS for flip-box, class: .elementor-element-1e139ba */.elementor-flip-box{
    width: 330px;
    heihgt:330px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .elementor-flip-box{
    width: 100%;
    heihgt:250px;
}

  
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-a4ca773 *//* Portrait and Landscape */
@media screen 
  and (min-width: 834px) 
  and (max-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
      
      #property-section{
          margin-top:260px;
      }

}

@media screen 
  and (min-width: 425px) 
  and (max-width: 770px)
  and (-webkit-min-device-pixel-ratio: 2) {
      
      #property-section{
          margin-top:165px;
      }

}/* End custom CSS */